#square_cnt{
   display: flex;
   flex-wrap: wrap;

   .post_square{
      margin: 20px;
      width: 350px;
      padding: 20px;
      background-color: #ffbf80;

      .post_title{
         color: black;
         font-size: 22px;
         text-decoration: none;
      }

      .data{
         color: grey;
         margin-top: 20px;
         font-size: 14px;
      }

      .overview{
            margin-top: 20px;
      }
   }

   #message{
      margin-top: 50px;
      font-size: 35px;
      text-align: center;
   }

   &::after{
      content: '';
      display: table;
      clear: both;
   }
}
